
#linkificator-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
}

#linkificator-menu ul {
	list-style: none;
	background: #fff;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: rgba(37,128,162,0.4);
}

#linkificator-menu hr {
	width: 85%;
	height: 1px;
	background: #fff;
	color: rgb(37,128,162);
	opacity: 0.3;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 0;
}

#linkificator-menu li {
	font: 75% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	background: #fff;
	color: rgb(37,128,162);
	margin: 0;
	padding: 0;
    list-style: none;
}

.linkificator-active {
	display: block;
	margin: 0;
	padding: 6px 18px;
	text-decoration: none;
	font-weight: normal;
}

.linkificator-active:hover {
	cursor: default;
	background: rgb(37,128,162) url('hover.gif') left center no-repeat;
	color: #fff;
}

.linkificator-inactive {
	display: block;
	color: rgb(37,128,162);
	opacity: 0.4;
	margin: 0;
	padding: 6px 18px;
	text-decoration: none;
	font-weight: normal;
}
.linkificator-inactive:hover {
	cursor: default;
}

