
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.

 * author: MarkaPola
 */

html {
	font-family: "Segoe UI";
}

*, html {
	margin: 0;
	padding: 0;
}

* {box-sizing: border-box}


/* Style the tab */
div.tab {
    float: left;
	background-color: #424f5a;
	width: 200px;
	height: 100vh;
	padding-top: 39px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: #c1c1c1;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
	font-size: 1rem;
    transition: background-color 150ms;
	-moz-user-select: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #5e6972;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #343f48;
	color: #f2f2f2;
	padding-inline-start: 11px;
	border-inline-start: solid 4px #ff9500;
}

/* Style the tab content */
.tabcontent {
	margin-left: 200px;
    padding: 30px 12px;
	width: calc(100% - 200px);
    border-left: none;
	height: 100vh;
}

.tabcontent > fieldset {
	border-top:2px solid #c1c1c1;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding-left:2em;
	padding-top: 10px;
	padding-bottom: 25px;
	float:left;
	width: 90%;
}

legend {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2rem;
}


.settings-entry input, select, button {
	font-size: 0.9rem;
}
.settings-entry > input[type="text"] {
	width: calc(50% - 400px);
}
.settings-entry > input.long-text {
	width: calc(95% - 400px);
}

.settings-entry label {
	width: 400px;
}

.settings-entry2 {
	margin-top: 1em;
	margin-bottom: 1em;
}
.settings-entry2 label {
	width: 200px;
}
.settings-entry2 > input[type="text"] {
	width: calc(70% - 200px);
}
.settings-entry2 > textarea {
	margin-left: 6px;
	width: calc(70% - 200px);
	height: 6em;
}

.indent label {
	margin-left: 25px;
	margin-right: 4px;
}

.secondary-input {
	margin-left: 20px;
	width: 4em;
}

.secondary-label {
	margin-left: 6px !important;
	width: 50px !important;
}

.reset-button {
	float: right;
}

#max-data-size {
	width: 8em;
}
