
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.

 * author: MarkaPola
 */

*, html {
	margin: 0;
	padding: 0;
}

* {box-sizing: border-box}

body {
	font-family: "Arial";
}


/* Style the tab */
div.tab {
	position: fixed;
    float: left;
	background-color: #424f5a;
	width: 200px;
	height: 100vh;
	padding-top: 39px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: #c1c1c1;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
	font-size: 1rem;
    transition: background-color 150ms;
	-moz-user-select: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #5e6972;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #343f48;
	color: #f2f2f2;
	padding-inline-start: 11px;
	border-inline-start: solid 4px #ff9500;
}

/* Style the tab content */
.tabcontent {
	margin-left: 200px;
    padding: 30px 12px;
	width: calc(100% - 200px);
    border-left: none;
	height: 100vh;
}

.tabcontent > fieldset {
	border-top: 2px solid #c1c1c1;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding-left: 2em;
	padding-top: 10px;
	padding-bottom: 25px;
	float:left;
	width: 95%;
}

legend {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2rem;
}


.settings-entry input, select, button {
	font-size: 0.9rem;
}
.settings-entry > input[type="checkbox"] {
	margin-top: 3px;
}
.settings-entry > input[type="text"] {
	width: calc(50% - 400px);
}
.settings-entry > input.long-text {
	width: calc(95% - 400px);
}

.settings-entry label {
	width: 400px;
}

.settings-entry2 {
	margin-top: 1em;
	margin-bottom: 1em;
}
.settings-entry2 label {
	width: 200px;
}
.settings-entry2 > input[type="text"] {
	width: calc(70% - 200px);
}
.settings-entry2 > textarea {
	margin-left: 6px;
	width: calc(70% - 200px);
	height: 6em;
}

.indent label {
	margin-left: 25px;
	margin-right: 4px;
}

.secondary-input {
	margin-left: 20px;
	width: 4em;
}

.secondary-label {
	margin-left: 6px !important;
	width: 50px !important;
}

.reset-button {
	float: right;
	margin-right: 20px;
}

#max-data-size {
	width: 8em;
}


/*
 * Custom Rules Tab
 */

/*** Rule editor : Modal window ***/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	display: block;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
	border-radius: 6px;
	border-color: #888;
    width: 700px;
	overflow: hidden;
}

.rule-entry label {
	width: 80px !important;
}
.rule-entry > input[type="text"] {
	width: calc(100% - 140px) !important;
}

#rule-editor\.error {
	width: 70%;
	height: 1em;
	margin-left: 9px;
	font-weight: bold;
	color: red;
}

.rule-editor\.buttons {
	float: right;
	margin-right: 22px;
}

.rule-editor\.buttons button {
	margin: 8px;
}

.modal-content button {
	vertical-align: top;
	font-size: 0.95em;
}

/*** special configuration for tabcontent ***/
#custom-rules.tabcontent > fieldset {
	height: 100%;
}

/*** Rules List ***/
.rules-container {
    margin-top: 0.5em;
	margin-left: 10%;
	
	width: 80%;
	height: 70%;
}

.rules-container  > .rules-commands {
	margin-bottom: 20px;
}

div.rules-commands button {
	float: right;
}

.rules-container > .rules-list {
	height: 100%;
}

.rules-list {
	border-style: solid;
    border-width: 1px;
	border-radius: 2px;
	border-color: #c1c1c1;

	overflow: auto;
	
	display: flex;
	flex-direction: column;
}

.overflow {
	flex-grow: 1;
}

.rules-list > table {
	width: 100%;
}

.rules-table  {
	table-layout: fixed;
	border-collapse: collapse;
}

.rules-table tr td div {
	display: inline-block;
	width: 100%;
}
.rules-table tr:hover {
	background-color: rgba(0, 149, 221, 0.25);
}

.settings-rule {
	width: calc(100% - 10px) !important;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 5px;
	-moz-user-select: none;
	cursor: move;
	border-width: 2px;
	border-style: dashed;
	border-color: rgba(0,0,0,0.0);
}
/* Drag n drop customization */
.settings-rule.dragover {
	border-color: #000;
}

.rule-name {
	margin-left: 10px;
	width: calc(100% - 80px) !important;
}

.settings-rule input[type="checkbox"] {
	float: left;
	margin-top: 3px;
}

.settings-rule input[type="image"] {
	border-style: none;
	background-color: rgba(0,0,0,0.0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
	margin-top: 3px;
	margin-right: 5px;
}

.rule\.buttons {
	float: right;
	width: auto !important;
	display: inline-block;
}

.edit-button {
    background-image: url(edit.png);
}
.edit-button:hover,
.edit-button:active,
.edit-button:focus {
	background-image: url(edit-hover.png);
}

.delete-button {
    background-image: url(delete.png);
}
.delete-button:hover,
.delete-button:active,
.delete-button:focus {
	background-image: url(delete-hover.png);
}

