
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.

 * author: MarkaPola
 */

form {
	background-color: #fbfbfb;
}

.settings-entry input, select, button {
	font-size: 1em;
}
.settings-entry > input[type="text"] {
	width: calc(50% - 200px);
}
.settings-entry > input.long-text {
	width: calc(95% - 200px);
}
.settings-entry  input[type="color"] {
	margin-left: 15px;
}

.settings-entry label {
	width: 200px;
}

form > .settings-entry {
	width: 100%;
}

form > hr {
	color: #fff;
	width: 100%;
}

.reset-button img {
	position: relative;
}
