
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.

 * author: MarkaPola
 */

form {
	color: #0c0c0d;
	background-color: #f9f9fa;
}

.settings-entry > input[type="text"] {
	width: calc(50% - 200px);
}
.settings-entry > input.long-text {
	width: calc(95% - 200px);
}
.settings-entry input[type="color"] {
	margin-left: 15px;
}

.settings-entry label {
	width: 200px;
}

form > .settings-entry {
	width: 100%;
}

form > hr {
	background-color: #c1c1c1;
	height: 1px;
	border: none;
	width: 100%;
}

input[type="image"] {
    height: 25px;
}

.key-combination input, .key-combination button {
	vertical-align: top;
}
