
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.

 * author: MarkaPola
 */

form {
	background-color: #fbfbfb;
}

.settings-entry {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.settings-entry input, select {
	vertical-align: top;
	font-size: 1em;
	color: #333;
}
.settings-entry input {
    border-style: solid;
    border-width: 1px;
	border-radius: 2px;
	border-color: #c1c1c1;
}
.settings-entry input:focus {
	border-color: rgba(0, 149, 221, 0.8);
}
.settings-entry > input[type="text"] {
	width: calc(50% - 200px);
}
.settings-entry > input.long-text {
	width: calc(95% - 200px);
}
.settings-entry  input[type="color"] {
	margin-left: 15px;
}
.settings-entry select {
    border-style: solid;
    border-width: 1px;
	border-color: #c1c1c1;
	border-radius: 2px;
}
.settings-entry select:hover {
    background-color: #f1f1f1;
}
.settings-entry select option:hover {
	box-shadow: 0 0 10px 100px rgba(0, 149, 221, 0.25) inset;
}
.settings-entry select option:checked {
	box-shadow: 0 0 10px 100px rgb(0, 149, 221) inset;
}

.settings-entry label {
	display: inline-block;
	width: 200px;
	margin-left: 6px;
	margin-right: 20px;
	vertical-align: top;
	text-align: left;
}

form > .settings-entry {
	width: 100%;
}

form > hr {
	color: #fff;
	width: 100%;
}

.reset-button {
    background-color: white;
	/* top right bottom left */
	padding: 3px 3px 0px 6px;
    border-style: solid;
    border-width: 1px;
	border-color: #c1c1c1;
	border-radius: 2px;
    cursor: pointer;
}
.reset-button img {
	position: relative;
	left: -1px;
}
.reset-button:hover, .dropdown-button:focus {
    background-color: #f1f1f1;
}
.reset-button:active {
    background-color: #dadada;
}
.reset-button::-moz-focus-inner {
	border: 0;
}

